body {
    background-color: lightskyblue;
}

.container {
    text-align: center;
}

.description {
    padding: 0 4vh;
}

.img-center {
    display: block;
    margin: 0 auto;
    width: 30%;
}

li {
    padding: 2px 0;
}

.list-text {
    font-size: 16px;
}

.ol-center,
.ul-center {
    margin: 0 auto;
}

.ol-center {
    text-align: left;
}

.recipe-steps {
    padding: 0 20px;
}

.ul-center {
    list-style-type: none;
    padding: 0;
}